name: Update versions

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: master
          token: ${{ secrets.PAT }}
      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Run
        id: run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python3 update_versions.py
          echo $(cat versions.json)
          git add versions.json
          if git diff --cached --exit-code; then
            echo "Nothing changed"
            echo "release=false" >> $GITHUB_OUTPUT
          else
            git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config --global user.name "github-actions[bot]"
            version=$(date +'%Y%m%d-%H%M')
            git commit -m "chore: bump versions $version"
            git push origin master
            echo "[ghcr.io/${{ github.repository }}:$version](https://ghcr.io/${{ github.repository }}) Built using: $(jq -r 'to_entries | map("\n- \(.key): \(.value)") | .[]' versions.json)" > notes.txt
            echo "release=true" >> $GITHUB_OUTPUT
            echo "version=$version" >> $GITHUB_OUTPUT
          fi
